<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Todo on BackboneJS</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    </head>
    
    <body>
        <script type="text/template" id="app-layout-tpl">
            <div class='col-md-6'>
                <h1>Todo on BackboneJS</h1>
                <section id="app-ctrl"></section>
                <section id="app-items-list"></section>
        </script>
        <script type="text/template" id="app-item-tpl">
            <div class="checkbox <%= completed ? 'completed' : '' %>">
                <label>
                    <input type="checkbox" class="toggle" <%= completed ? 'checked' : ''%>> <%- title %>
                </label>
            </div>
        </script>
        <script type="text/template" id="app-ctrl-tpl">    
                <div class='form-group'>
                    <input class="form-control" id="item-title-input" placeholder="Enter description" autofocus>
                </div>  
            
            <button type="button" class="btn btn-primary" id="item-add">Add</button>
            <button type="button" class="btn btn-default" id="clear-completed">Clear Completed</button>
        </script>
        <script type="text/template" id="app-status-tpl">
            <div class='pull-right btn-group' role='group'>
                <button class="btn btn-default"  type="button" disabled='disabled'><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></button>
                <button class="btn btn-default"  type="button" id='show-all'>All (<%- overall %>)</button>
                <button class="btn btn-default"  type="button" id='show-completed'>Completed (<%- completed %>)</button>
                <button class="btn btn-default"  type="button" id='show-incompleted'>Incompleted (<%- others %>)</button>
            </div>
        </script>
        <div class="container">
            <div id='app' class='row'></div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
        <script src="js/models/todoitem.js"></script>
        <script src="js/collections/todocollection.js"></script>
        <script src="js/views/todoitem.js"></script>
        <script src="js/views/todostatus.js"></script>
        <script src="js/views/todocontroller.js"></script>
        <script src="js/views/todolist.js"></script>
        <script src="js/views/todoapp.js"></script>
        <script src="js/todo.js"></script>
    </body>
</html>