<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Hello world from Cloud9!</title>
        <link rel="stylesheet" href="css/main.css" type="text/css"/>
    </head>
    
    <body>
        <script type="text/template" id="app-layout-tpl">
            <div>
                <h1>TODO List application</h1>
                <span id="app-ctrl">Here goes a controller</span>
                <div id="app-items-list">
                    The list of tasks
                </div>
                <span id="app-status">The footer with status line</span>
            </div>
        </script>
        <script type="text/template" id="app-item-tpl">
        <div class="<%= completed ? 'completed' : '' %>">
            <input type='checkbox' class="toggle" <%= completed ? 'checked' : ''%> id='<%- title %>' > 
            <label for="<%- title %>"><%- title %></label>
        </div>
        </script>
        <script type="text/template" id="app-ctrl-tpl">
            <input id="item-title-input" autofocus>
            <button id="item-add">Add</button>
            <button id="clear-completed">Clear Completed</button>
            <div>
                <span>Show:</span>
                <button id='show-all'>All</button>
                <button id='show-completed'>Completed</button>
                <button id='show-incompleted'>Not completed</button>
            </div>
        </script>
        <script type="text/template" id="app-status-tpl">
            <span>Overall tasks: <%- overall %>, Completed tasks: <%- completed %>, Not completed tasks: <%- others %> </span>
        </script>
        <div id='app'></div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
        <script src="js/models/todoitem.js"></script>
        <script src="js/collections/todocollection.js"></script>
        <script src="js/views/todoitem.js"></script>
        <script src="js/views/todocontroller.js"></script>
        <script src="js/views/todolist.js"></script>
        <script src="js/views/todostatus.js"></script>
        <script src="js/views/todoapp.js"></script>
        <script src="js/todo.js"></script>
    </body>
</html>